.header-1{
    background: #000000;
    width: 100%;
    height: 90px;
}
body{
    margin: 0px;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
}
.logo{
    width: 120px;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
}
.header-2{
    width: 20px;
    height: 22px;
    background: #000000;
}
.header-3{
    float: left; 
    height:50px ;
    width: 40%;
    background: #000000;
}
.top-bar{
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
}
.top-bar:hover{
    color: rgb(16, 161, 16);
}
.header-4{
    float: right;
    margin-right: 20px;
    font-size: 16px;
}
.left-section{
    width:100%;
    float: left;
    height: 1069px;
}
.main-body{
    float: left;
    background: linear-gradient(rgb(167, 25, 119),#031246);
    width: 100%;
    height: 580px;
    align-items: center;
}
.image{
    width: 510px;
}
.para{
    font-weight: bold;
    font-size: 54px;
    color:white;
    padding-left: 417px;
    padding-top: 90px;
}
.submit{
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 550px;
    padding-top: 90px;
    border-radius: 25px;
  border: 2px solid white;
  padding: 20px;
  float:70px right;
}
.new-section{
    float: left;
    width: 100%;
    height: 200px;
}
.need{
    font-weight: bold;
    font-size: 40px;
    color:black;
    padding-left: 550px;
    padding-top: 100px;

}
.play{
    width: 125px;
    margin-left: 193px;
    margin-top: 50px;
}
.y{
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.5em;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    padding-top: 2px;
    padding-left: 159px;

}
.x{
    text-align: center;
    padding-left: 90px;
    padding-top: -38px;
    font-weight: 555px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    line-height: 1.25rem
    font-size: 0.875rem;
    margin-block: 0px;
    font-weight: 400px;
    
}
.third-body{
    width: 100%;
    height: 50px;
    float: left;
}
.third-section{

    padding-top: 50px;
width: 100%;
height:350px;  
float: left;
background: linear-gradient(rgb(167, 25, 119),#031246);
}
.free{
    font-weight: bold;
    font-size: 40px;
    color:white;
    padding-left: 550px;
    padding-top: 90px;
}
.questions{
    font-size: var(--headline-font-size,35px);
    line-height: var(--headline-line-height,756px);
    padding-left: 248px;
    padding-bottom: 1px;
}
.fourth-body{
    padding-top: 400px;
    float: left;
    width: 100%;
    height: 313px;
    padding-bottom: 302px;
    
}
.subbody{
    padding-top: 35px;
    width: 80%;
    padding-left: 140px;
    padding-top: 0px;

}
.boxes{
    width: 100%;
    height: 90px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    border-color: white;
}
.boxes:hover{
    background-color: white;
}
.qstn{
    font-weight: bold;
    font-size: 40px;
    color:black;
    padding-left: 429px;
    padding-top:  0px;  
}
.body5{
    width: 100%;
    height: 250px;
background: linear-gradient(rgb(167, 25, 119),#031246);
}
body5 h4{
     font-size: 30px;
    color: white;
    
}
.footer{
    width: 100%;
    height: 500px;
    background-color: #000000;
    display: flex;
}
.middle-left{
    width: 40%;
    height: 200px;
    background-color: #000000;
    float: left;
}
.footer-middle{
    width: 20px;
    height: 200px;
    background-color: #000000;
    float: left;
}
.mf1{
    padding-top: 30px;
    color: white;
    font-size: 15px;
    padding-right: 35px;
    cursor: pointer;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}

.mf1:hover{
    color:  rgb(16, 161, 16);
}
.right-button{
    background-color: black;
    border-radius: 500px;

}
.button-box{
    border: 1px solid white;
    border-radius: 20px;
    border-color: white;
    background: white;
    width: 150px;
    height: 43px;
    cursor: pointer;
    font-size: 13px;
    color:#000000;
    cursor: pointer;
    
}
